nav{
    
    padding:  0 1.5rem  0 1rem ;
    position: fixed;
    .container-fluid{
        button{
            color:#eee;
           
            &:focus{
                box-shadow: none;
                border: none;
                outline: none;

            }
            span{
                color: #eee;
                font-size: 2.5rem;
            }
        }
       
        ul{
          
            
            li{
                
                .active{
                    background: rgba(238, 238, 238, 0.323);
                    transition: all .8s;
                    

                }

            }
        }
       
    }

    
        .header-perfil{
            display: flex;
            align-items: center;
            padding-right: .8rem;
            .form-select{
                width:2rem;
            }

            .bx-user-circle{
                color:#eee;
                font-size: 2rem;
            }

            .first-letter{
                width:2rem;
                height: 2rem;
                border-radius: 2rem;
                color:#eee;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
            }
            .resumen{
                display: flex;
                flex-direction: column;
                justify-content: center;
                span{
                    color:#eee;
                    font-size: .6rem;
                    text-shadow: 1px 2px 2px rgba(0,0,0,.4);
                }
            }

            .carpeta{
                font-size: 2rem;
                .bxs-folder-plus{
                    color:#eee;
                }
                
            }

            .modeDark{
                button{
                 transition: all 1s;
                 background: none;
                 border: none;
                 outline: none;
                 text-overflow: 1px 2px 2px rgba(0,0,0,.4);
                }
            }
            .display{
                display: none;
                transition: all 1s;
                
            }

            .bxs-sun, .bxs-moon{
                font-size: 1.5rem;
                text-overflow: 1px 2px 2px rgba(0,0,0,.4);

            }
        }
}