.form-container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        width:70%;
    }
}


@media only screen and (max-width:600px){

    .form-container{
        background: yellow;
       
    
        form{
            width:95%;

        }
    }
}