.resumen{
    
    table{
        tr{
            td{
                user-select: none;
            }
        }
    }

    .user-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: .5rem 2rem .5rem .5rem;
        .user{
            background: red;
            width:2rem;
            height:2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5rem;
            font-size: 1.5rem;

        }
        .return{
            display: flex;
            justify-content: center;
            align-items: center;
           .nav-link{
                display: flex;
                justify-content: center;
                align-items: center;
                width:2rem;
                height: 2rem;
                font-size: 1.8rem;
                border-radius: 5rem;
                text-shadow: 1px 2px 2px rgba(0,0,0,.2);
           }
          
        }
         
        .tt{
            border: none;
        }
        .bb{
            box-shadow: none;
        }

    }
    
}