.container-fluid{
  padding: 0;
}

.article{
  width:100%;
}

@media only screen and (max-width:1024px){
  .sobject{
    display:flex;
    
}
  .container-fluid{
    width:100%;
    height: auto;
  }
}